   .main {
  margin-left: 19.25%; 
}
.main-content{
  padding-left:1%;
}
.progress-bar {
  width: 0;
  height: 100%;
  background-color: #007bff; /* Bootstrap primary color */
  transition: width 1.5s ease-in-out;
}

.progress-bar[aria-valuenow="100"] {
  width: 100%;
}
.progress-bar[aria-valuenow="90"] {
  width: 90%;
}
.progress-bar[aria-valuenow="80"] {
  width: 80%;
}
.progress-bar[aria-valuenow="75"] {
  width: 75%;
}
.progress-bar[aria-valuenow="60"] {
  width: 60%;
}
.progress-bar[aria-valuenow="65"] {
  width: 65%;
}
.progress-bar[aria-valuenow="70"] {
  width: 70%;
}
.progress-bar[aria-valuenow="55"] {
  width: 55%;
}
.progress-bar[aria-valuenow="30"] {
  width: 30%;
}

@media (max-width: 768px) {
  .main {
    margin-left: 5%; 
  }
}

@media (max-width: 480px) {
  .main {
    margin-left: 0;
  }
}